{% extends 'base.html.twig' %}

{% block title %}Garage Parot{% endblock %}

{% block body %}
{% include "./component/_header.html.twig" %}

{% include "./component/_search_data.html.twig" %}

{% set queryParams = app.request.query.all %}
{% set queryParamsString = queryParams|filter((value, key) => key != "page")|url_encode %}

    <table class="table table-light table-hover">
        <thead class="table-secondary">
            <tr class="text-center">
                <th>Marque</th>
                <th>Kilométrage</th>
                <th>Année</th>
                <th>Carburant</th>
                <th>Boite</th>
                <th>Nombre de siege</th>
                <th>Actions</th>
            </tr>
        </thead>

        <tbody>
            {% for car in cars %}
                <tr class="text-center">
                    <td>{{car.marque}}</td>
                    <td>{{car.kilometrage}} km/h</td>
                    <td>{{car.annee}}</td>
                    <td>{{car.carburant}}</td>
                    <td>Boîtes {{car.transmission}}</td>
                    <td>{{car.nbrSiege}} sièges</td>
                    <td>
                        <a href="{{path('app_modify_cars_admin', {id:car.id})}}" class="btn btn-warning">Modifier</a>
                        <a href="{{path('app_delete_cars_admin', {id:car.id})}}" class="btn btn-danger">Supprimer</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

            <ul class="pagination justify-content-center my-5" id="pagination-container">
            <li class="page-item disabled">
                <span class="page-link">Previous</span>
            </li>
            {% set number =  0%}
            {% for href in knp_pagination_render(cars)|split(' ')|filter(value => value != "" and value starts with "href") %}
            {% set number = number + 1 %}
            {# {{ dump(href|slice(22),"?page="~number~"&"~queryParamsString) }} #}
            <li class="page-item">
                <a class="page-link " href="?page={{number}}&{{queryParamsString}}">{{number}}</a>
            </li>
            {% endfor %}
            <li class="page-item">
                <a class="page-link" href="#">Next</a>
            </li>
        </ul>
{% endblock %}