{% extends 'base.html.twig' %}

{% block title %}Garage Parot{% endblock %}

{% block body %}
    <div style="width:100%; position:relative">
        <img src="{{asset('img/photo-garage-3.png')}}" style="width:100%; height:550px; object-fit:cover" alt="">
        <div style="position:absolute; top:30%; right:10%;">
            <h1 style="text-align:right;" class="text-light">Modifier supprimer un véhicules de votre choix</h1>
        </div>
    </div>
    <table class="table table-light table-hover">
        <thead class="table-secondary">
            <tr class="text-center">
                <th>Marque</th>
                <th>Kilométrage</th>
                <th>Année</th>
                <th>Actions</th>
            </tr>
        </thead>

        <tbody>
            {% for car in cars %}
                <tr class="text-center">
                    <td>{{car.marque}}</td>
                    <td>{{car.kilometrage}} km/h</td>
                    <td>{{car.annee}}</td>
                    <td>
                        <a href="{{path('app_modify_cars', {id:car.id})}}" class="btn btn-warning">Modifier</a>
                        <a href="{{path('app_delete_cars', {id:car.id})}}" class="btn btn-danger">Supprimer</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}