{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <div style="width:100%; position:relative">
        <img src="{{asset('img/photo-garage-3.png')}}" style="width:100%; height:550px; object-fit:cover" alt="">
        <div style="position:absolute; top:30%; right:10%;">
            <h1 style="text-align:right;" class="text-light">Modérer les avis des clients</h1>
        </div>
    </div>
    <div class="d-flex justify-content-center gap-3 flex-wrap my-3">
        <table class="table">
            <thead class="text-center">
                <tr>
                    <th scope="col">Titre</th>
                    <th scope="col">Description</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
        <tbody class="text-center">
        {% for avi in avis %}
                <tr>
                    <td>{{avi.nom}}</td>
                    <td>{{avi.description}}</td>
                    <td>
                        {% if avi.isActive %}
                            <a href="{{path('app_manage_avis_modify', {id:avi.id})}}" class="btn btn-primary" data-index={{avi.id}} id="isActive-avis" data-isActive=true>Actif</a>
                        {% else%}
                            <a href="{{path('app_manage_avis_modify', {id:avi.id})}}"  class="btn btn-danger" data-index={{avi.id}} id="isActive-avis" data-isActive=false>Non actif</a>
                        {% endif %} 
                    </td>
                </tr>

            {# <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">{{avi.nom}}</h5>
                    <p class="card-text">{{avi.description}}</p>
                    <p>{{avi.note}}</p>
                    {% if avi.isActive %}
                        <a href="{{path('app_manage_avis_modify', {id:avi.id})}}" class="btn btn-primary" data-index={{avi.id}} id="isActive-avis" data-isActive=true>Active</a>
                    {% else%}
                        <a href="{{path('app_manage_avis_modify', {id:avi.id})}}"  class="btn btn-danger" data-index={{avi.id}} id="isActive-avis" data-isActive=false>Disabled</a>
                    {% endif %}                
                </div>
            </div> #}
        {% endfor %}
        </tbody>
        </table>
    </div>
{% endblock %}