<div style="background:crimson; width:100%; position:relative; bottom:0;">
    <div class="container py-5 text-center">

    <div class="row">
        <div class="col mb-5">
            <img src="{{asset('img/logo-garage-V2.png')}}" alt="" style="width:300px">
        </div>
        <div class="col text-center text-light">
            <h3>Horaires</h3>
                <ul style="list-style:none">
                    {% if hours is defined  %}
                        {% for hour in hours %}
                            {% if hour.matinOpen or hour.apremOpen %}
                                <li>
                                    {{hour.days.name}} : {{hour.matinOpen}} - {{hour.matinClose}}, {{hour.apremOpen}} - {{hour.apremClose}}
                                </li>
                            {% else %}
                                <li>
                                    {{hour.days.name}} : Fermé
                                </li>
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        <p>test</p>
                    {% endif  %}
                </ul>
        </div>
    </div>
    </div>
</div>