{% extends "base.html.twig" %}

{% block body %}
    <div style="width:100%; position:relative">
        <img src="{{asset('img/photo-garage-3.png')}}" style="width:100%; height:550px; object-fit:cover" alt="">
        <div style="position:absolute; top:30%; right:10%;">
            <h1 style="text-align:right;" class="text-light">
                {{app.user.name}}, votre compte
            </h1>
        </div>
    </div>   
    <div class="container my-5">
        <form class="mb-5">
            <div class="mb-3">
                <label for="exampleInputEmail" class="form-label">Email</label>
                <input class="form-control" type="text" value={{employee.email}} disabled>
            </div>
            <div class="mb-3">
                <label for="exampleInputName" class="form-label">Name</label>
                <input class="form-control" type="text" value={{employee.name}} disabled>
            </div>
            <div class="mb-3">
                <label for="exampleInputFirstName" class="form-label">First Name</label>
                <input class="form-control" type="text" value={{employee.firstName}} disabled>
            </div>
        </form>
        {# <p>{{ employee.email }}</p>
        <p>{{ employee.name }}</p>
        <p>{{ employee.firstName }}</p> #}
    </div>
    {# {{dump(employee)}} #}

{% endblock %}