{# {% if form %}


	{{ form_start(form) }} #}
            <div class="d-flex justify-content-center gap-5 bg-secondary w-100 p-3">
                <form id="filters">
                    <div class="d-flex my-4 gap-4">
                        <div>
                            <div class="d-flex justify-content-between w-100">
                                <label for="kilometrage">Kilométrage</label>
                                <label class="value" data-text="kilometrage"></label>
                            </div>
                            <input type="range" class="form-range" id="input-search slider" name="kilometrage" min="10000" max="50000" value="" step="10">
                        </div>
                        <div>
                            <div class="d-flex justify-content-between">
                                <label for="prix">Prix</label>
                                <label class="value" data-text="prix"></label>
                            </div>
                            <input type="range" class="form-range" id="input-search slider" name="prix" min="1000" max="10000" value="" step="10">
                        </div>
                        <div>
                            <div class="d-flex justify-content-between">
                                <label for="annee">Annéé</label>
                                <label class="value" data-text="annee"></label>
                            </div>
                            <input type="range" class="form-range" id="input-search slider" name="annee" min="2000" max="2023" value="" step="1">
                        </div>
                    </div>

                    <div class="col">
                        <input type="text" class="form-control" id="input-search" name="marque" value="" />
                    </div>

                    <div>
                        <input type="hidden" id="input-search" name="isactive" min="2000" max="2023" value="true">
                    </div>
                    <button type="submit" class="btn btn-primary">Search</button>
                </form>
{# 
                {{ form_row(form.kilometrage, {'label': "Kilometrage", 'class':"input-kilometrage" }) }}

                {{ form_row(form.prix, {'label': "Prix", 'class':"input-prix"}) }}

                {{ form_row(form.annee, {'label': "Année", 'class':"input-annee"}) }} #}
            </div>
	{# {{ form_end(form) }}


{% endif %} #}
